@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Roboto+Slab:wght@600&display=swap');

body {
  font-family: 'Exo', sans-serif;
  font-size: 1.1rem;
  text-shadow: 1.2px 1.2px 2px rgb(0, 0, 0);
  color: #ffffff;
  background: linear-gradient(hsl(195, 53%, 79%), hsl(120, 73%, 75%), hsl(39, 100%, 50%)) no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  padding: 10%;
  box-sizing: border-box;
  margin-bottom: 15rem;
  margin-left: 25rem;
}

.quiz-text{
  margin-top: 5%;
  margin-left: 1%;
}

.column {
  margin-bottom: 3rem;
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .container {
    width: 90%;
    padding: 0;
  }

  .column {
    margin-left: 4%;
  }

  .column:first-child {
    margin-left: 0;
  }

  .full-width.column {
    width: 100%;
    margin-left: 0;
  }

  .one-half.column {
    width: 48%;
  }

  .one-third.coumn {
    width: 30.7%;
  }

  .two-thirds.column {
    width: 65.4%;
  }

  .one-quarter.column {
    width: 22%;
  }

  .two-quarter.column {
    width: 48%;
  }

  .three-quarter.column {
    width: 74%;
  }

  .one-half.column {
    width: 48%;
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 20px auto;
    padding: 3rem;
  }
}

.container:after, .row:after, .clearfix {
  content: "";
  display: table;
  clear: both;
}


h1, h2, h3, h4 {
  color: hsl(176, 88%, 66%);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5rem;
}

h1 {
  font: 3rem;  
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.7rem;
}

#progress_bar {
  background-color: hsl(33, 92%, 59%);
  box-shadow: 1px 1px 2px black;
  width: 20%;
  height: 0.5rem;
  margin-bottom: 1rem;
  transition: all 110ms ease-in-out;
}

/* Question Animation */

.question-animation {
  margin-left: 10px;
  cursor: pointer;  
}

/* Question Animation - End */

.center {
  text-align: center;
}

.questions_box {
  background-color: #eee9e9;
  padding: 3.76rem;
  text-align: left;
  max-width: 60rem;
}

.button {
  margin: 15px 0 0 0;
  float: right;
  border: 1px solid rgb(5, 12, 94);
  border-radius: 20px;
  padding: 10px 15px;
  line-height: 1.12rem;
  text-decoration: none !important;
  cursor: pointer;
  transition: color 100ms ease-in-out;
  z-index: 1;
  font-size: inherit;
  color: white;
  overflow: hidden;
  box-shadow: 1.21px 1.2px 2.3px black;
  background-color: hsl(40, 100%, 50%, 0.838);
  transition: 100ms ease;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transition: transform 1s ease-in-out;
}

.button:hover {
  box-shadow: inset 1.22px 1.22px 2.22px black;
  color: rgb(255, 255, 255);
  background-color: hsl(262, 77%, 84%);
  text-shadow: 1.5px 1.5px 2px rgb(0, 0, 0);
  transform: scale(1.01);
}

button:hover::before {
  transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

#question-2, #question-3, #question-4, #question-5, #question-6 {
  display: none;
}

#question-2, #question-3, #question-4, #question-5, #question-6 {
  transition: 1s ease-in-out;
}

#question-2, #question-3, #question-4, #question-5, #question-6:hover {
  transition: 1s ease-in-out;
}


/* Balls Animation */

.balls {
  width: 4em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  float: right;
  margin-right: 49px;
  margin-top: 9px;
}

.balls div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 2px 2px 2.5px black;
}

.balls div:nth-of-type(1) {
  transform: translateX(-100%);
  animation: left-swing 0.5s ease-in alternate infinite;
}

.balls div:nth-of-type(3) {
  transform: translateX(-95%);
  animation: right-swing 0.5s ease-out alternate infinite;
}

@keyframes left-swing {
  50%,
  100% {
    transform: translateX(95%);
  }
}

@keyframes right-swing {
  50% {
    transform: translateX(-95%);
  }
  100% {
    transform: translateX(100%);
  }
}
